@media screen {
  body {
    background-color: rgb(255, 252, 211);
    display:flex;
  }
}
header{
  font-weight: bold;
  font-size: 20px;
}

.nav-link {
  display: block;
  margin: 10px 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#main-doc {
  margin-left: 240px; 
  padding: 10px;
  padding-top: 0px;
}

#navbar {
  width: 220px;
  height: 100vh;
  background-color: rgb(240, 237, 194);;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  border-right: 2px solid #ccc;
  z-index: 1000;
}


